@{
    ViewData["Title"] = "Welcome to EventEase";
}

<div class="text-center">
    <h1 class="display-4 fw-semibold text-primary mb-4">Welcome to EventEase</h1>
    <p class="lead mb-5">
        Streamline your venue, event, and booking management—all in one place!.
    </p>


    <div class="mt-5">
        <img src="" class="img-fluid rounded shadow-sm" alt="EventEase Dashboard Illustration" />
    </div>
</div>
